<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="all">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5level %d{HH:mm:ss.SSS} [%t] %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.http" level="info" />
		<Logger name="org.apache.http.impl.execchain.MainClientExec"
			level="debug" />
		
		<Root level="all">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>